.archive-lightbox {
    @media screen and (min-width: 320px) {
        position: fixed;
        top: 0;
        display: flex;

        justify-content: center;

        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.7);
        overflow-y: scroll;
        transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 1024px) {
        align-items: center;
    }
}

.archive-modal {
    position: absolute;

    width: 280px;
    min-height: 200px;

    padding: 25px 20px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);

    justify-content: center;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        padding: 40px 40px;
        width: 700px;
        min-height: 800px;
    }

    @media screen and (min-width: 1024px) {
        width: 1000px;
        min-height: 800px;
    }
}


.archive-modal__close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;

    background-color: unset;
    cursor: pointer;
    fill: #969393;

    &:hover {
        fill: #2c2b2b;
    }
}
.archive-header-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding-left: 18px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.06em;

    background-color: rgb(165, 163, 163);
    color: white;
    border-radius: 6px;

    @media screen and (min-width: 768px) {
        padding-left: 45px;
    }
    
    @media screen and (min-width: 1024px) {
        padding-left: 48px;
    }
}

.archive-header-info {
    display: block;
    width: 50px;

    @media screen and (min-width: 768px) {
        width: 82px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 147px;
    }
}

.archive-header-info__name {
    width: 100px;
    
    @media screen and (min-width: 768px) {
        width: 122px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 178px;
    }
}
.archive-list {
    margin-bottom: 20px;
    color: rgb(92, 90, 90)
}

.archive-item {
    margin-bottom: 20px;
}

.archive-wrapper {
    display: flex;
    padding-left: 10px;
    padding-right: 25px;

    background-color: rgb(241, 241, 252);
}

.archive-info {
    display:block;
    width: 100px;
    
    font-size: 12px;
    font-weight:500;
    line-height: 1.167;
    letter-spacing: 0.06em;
    
    @media screen and (min-width: 768px) {
        width: 80px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 145px;
    }
}

.archive-info__font {
    width: 100px;
    color: rgb(54, 54, 54);
    font-weight: 700;

    @media screen and (min-width: 768px) {
        width: 120px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 180px;
    }
}

.archive-info__wrapper {
    width: 180px;
    color: rgb(54, 54, 54);
    font-weight: 700;
}

.archive-info__content {
    margin-right: 10px;
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.06em;

    @media screen and (min-width: 768px) {
        width: 80px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 135px;
    }
}

.archive-info__content:hover {
    white-space: normal;
    margin-right: 0;
    overflow: visible;
    width: 145px;

    @media screen and (min-width: 768px) {
        width: 100px;
    }
    
    @media screen and (min-width: 1024px) {
        width: 145px;
    }
}
.archive-button__wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.archive-btn__unpack {
    display: inline-block;
    
    text-align: center;
    width: 80px;
    height: 24px;
    background-color: white;
    color: rgb(92, 90, 90);
    
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.117;
    
    border-radius: 5px;
    border: 1px solid rgb(165, 163, 163);

    cursor: pointer;
    
    &:hover {
        background-color: rgb(165, 163, 163);
        color: white;
        border: 2px solid rgb(165, 163, 163);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    
    &:focus {
        outline: none;
        border: 2px solid rgb(165, 163, 163);
        background-color: white;
        color: rgb(92, 90, 90);
    }
}

.archive-icon {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;

    background-color: rgb(92, 90, 90);
    border-radius: 50%;
}

.archive-icon__svg {
    //display: block;

    margin-top: 5px;
    margin-left: 5px;
    fill: whitesmoke;
}