.summary-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding-left: 48px;
    
    font-size: 14px;
    font-weight:700;
    line-height: 1.167;
    letter-spacing: 0.06em;
    
    background-color: rgb(165, 163, 163);
    color:white;
    border-radius: 6px;
}
.summary-header__wrapper {
    display: flex;
    margin-left: 200px;
}

.summary-header {
    display: block;
    width: 145px;
}
.summary-item {
    display: flex;
    padding-left: 10px;
    padding-right: 25px;
    margin-bottom: 20px;
    background-color: rgb(241, 241, 252);
    
}

.summary-info__wrapper {
    display: flex;
    margin-left: 200px;
    color: rgb(92, 90, 90)
}

.summary-info {
    display: block;
    width: 145px;

    font-size: 12px;
    font-weight: 600;
    line-height: 1.167;
    letter-spacing: 0.06em;
}

.summary-info__font {
    font-weight: 700;
    color: rgb(54, 54, 54);
}

.summary-icon {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;

    background-color: rgb(92, 90, 90);
   // background-image: url('../images/buy.svg');
    border-radius: 50%;
}

.summary-icon__svg {
    //display: block;

    margin-top: 5px;
    margin-left: 5px;
    fill: whitesmoke;
}
