.header-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding-left: 48px;

    font-size: 14px;
    font-weight:700;
    line-height: 1.167;
    letter-spacing: 0.06em;

    background-color: rgb(165, 163, 163);
    color:white;
    border-radius: 6px;
}

.header-info {
    display: block;
    width: 142px;
}

.header-info__name {
    width: 178px;
}

.todo-form {
    display: flex;
    padding-top: 20px;
    color: rgb(165, 163, 163);

    font-size: 14px;
    font-weight:500;
    line-height: 1.167;
    letter-spacing: 0.06em;
}
.todo-input {
    margin-right: 10px;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    border: 1px solid rgb(165, 163, 163);

    &:focus {
        outline: none;
        border: 2px solid rgb(92, 90, 90);
        
    }
}
.todo-select {
    margin-right: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(165, 163, 163);

    &:focus {
        outline: none;
        border: 2px solid rgb(92, 90, 90);
    
    }
}

.todo-textarea{
    margin-right: 10px;
    border-radius: 5px;
    width: 300px;
    border: 1px solid rgb(165, 163, 163);

    &:focus {
        outline: none;
        border: 2px solid rgb(92, 90, 90);

    }
}

.todo-list {
    margin-bottom: 20px;
    color: rgb(92, 90, 90)
}

.todo-item {
    margin-bottom: 20px;
}

.todo-wrapper {
    display: flex;
    padding-left: 10px;
    padding-right: 25px;

    background-color: rgb(241, 241, 252);
}

.todo-info{
    display:block;
    width: 145px;
    
    font-size: 12px;
    font-weight:500;
    line-height: 1.167;
    letter-spacing: 0.06em;
}

.todo-info__font {
    width: 180px;
    color: rgb(54, 54, 54);
    font-weight:700;
}

.todo-info__content {
    margin-right: 10px;
    white-space: nowrap;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 12px;
    font-weight:500;
    line-height: 1.167;
    letter-spacing: 0.06em;
}

.todo-info__content:hover {
    white-space: normal;
    margin-right: 0;
    overflow: visible;
    width: 145px;
}

.button-wrapper {
    display: flex;
    margin-left: 70px;
}

.add-todo-btn {
    display: block;
    margin-left: auto;
    
    text-align: center;
    width: 100px;
    height: 24px;
    background-color: white;
    color: rgb(92, 90, 90);
    
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.117;
    
    border-radius: 5px;
    border: 1px solid rgb(165, 163, 163);

    cursor: pointer;
    
    &:hover {
        background-color: rgb(165, 163, 163);
        color: white;
        border: 2px solid rgb(165, 163, 163);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    
    &:focus {
        outline: none;
        border: 2px solid rgb(165, 163, 163);
        background-color: white;
        color: rgb(92, 90, 90);
    }
}
.todo-icon {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
   
    background-color: rgb(92, 90, 90);
    border-radius: 50%;
}

.todo-icon__svg {
    //display: block;
    
    margin-top: 5px;
    margin-left: 5px;
    fill: whitesmoke;
}
.svg-icon {
    fill: rgb(112, 106, 106);
}

.svg-icon:hover {
    fill: rgb(165, 163, 163);;
}

.icon {
    fill: whitesmoke;

    &:hover {
        fill: rgb(97, 89, 89);
    }
}

.header-icon {
    display: flex;
    margin-left: 95px;
}