{{#each this}}
    <li class="archive-item" >
            <p class="archive-info"><span class="archive-info__font">{{category}}</span></p>
            <div class="archive-info__wrapper">
                <p class="archive-info">{{active}}</p>
                <p class="archive-info">{{archived}}</p>
            </div>
    </li>
{{/each}}

