{{#each this}}
    <li class="summary-item" >
            <p class="summary-info"><span class="summary-info__font">{{category}}</span></p>
            <div class="summary-info__wrapper">
                <p class="summary-info">{{active}}</p>
                <p class="summary-info">{{archived}}</p>
            </div>
    </li>
{{/each}}

