<!-- ARCHIVE-MODAL -->
<div class="archive__lightbox is-hidden">
    <div class="archive__modal">
            <button class="archive__modal--close">
                <svg class="close-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
                <div class="header-wrapper">
                    <p class="header-info">Name</p>
                    <p class="header-info">Created</p>
                    <p class="header-info">Category</p>
                    <p class="header-info">Content</p>
                    <p class="header-info">Dates</p>
                </div>
                <ul id="archive-list" class="archive-list"></ul>
        </div>
</div>