<!-- ARCHIVE-MODAL -->
<div class="archive-lightbox is-hidden">
    <div class="archive-modal">
            <button class="archive-modal__close">
                <svg class="close-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
                <div class="archive-header-wrapper">
                    <p class="archive-header-info archive-header-info__name">Name</p>
                    <p class="archive-header-info">Created</p>
                    <p class="archive-header-info">Category</p>
                    <p class="archive-header-info">Content</p>
                    <p class="archive-header-info">Dates</p>
                </div>
                <ul id="archive-list" class="archive-list"></ul>
        </div>
</div>