<!-- EDIT-MODAL -->
<div class="edit__lightbox is-hidden">
    <div class="edit__modal">
            <button class="edit__modal--close">
                <svg class="close-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <form class="edit-form" id="edit-form" autocomplete="off">
                <input class="edit-input" type="text" name="editName"  id="name"/>
                <select  class="edit-select" name="editCategory" id="category">
                    <option value="Task">Task</option>
                    <option value="Random Thought">Random Thought</option>
                    <option value="Idea">Idea</option>
                </select>
                <textarea class="edit-textarea" rows="3" type="text" name="editContent" id="content" placeholder="Content..."></textarea>
                <button type="submit" class="create save-changes-btn">Save changes</button>
            </form>
    </div>
</div>