<!-- TODO-MODAL -->
<div class="todo__lightbox is-hidden">
    <div class="todo__modal">
            <button class="todo__modal--close">
                <svg class="close-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <form class="todo-form" id="todo-form" autocomplete="off">
                <input type="text" name="name" placeholder="Name..." />
                <select name="category">
                    <option value="Task" selected>Task</option>
                    <option value="Random Thought">Random Thought</option>
                    <option value="Idea">Idea</option>
                </select>
                <input type="text" name="content" placeholder="Content..." />
                <button type="submit" class="create submit-btn">Create note</button>
            </form>
    </div>
</div>