<!-- TODO-LIST SECTION -->
<section class="section">
  <div class="container">
    <div class="header-wrapper">
      <p class="header-info">Name</p>
      <p class="header-info">Created</p>
      <p class="header-info">Category</p>
      <p class="header-info">Content</p>
      <p class="header-info">Dates</p>

      <button class="icon-btn" id="archive">
        <svg class="icon" width="24" height="24">
          <use href="images/icons.svg#icon-archive"></use>
        </svg>
      </button>

      <button class="icon-btn">
        <svg class="icon" width="24" height="24">
          <use href="images/icons.svg#icon-delete"></use>
        </svg>
      </button>
    </div>

    <ul id="list" class="todo-list"></ul>
  
    <button type="button" class="add-todo-btn">Create note</button>

  </div>
</section>